<!DOCTYPE html>
<HTML>
    <HEAD>
        <BODY>
            <H1>States</H1>
            <UL>
                {% for state in states %}
                <LI>{{ state.id }}: <B>{{ state.name }}</B>
                    <UL>
                        {% for city in state.cities %}
                            <li>{{ city.id }}: <b>{{ city.name }}</b></li>
                        {% endfor %}
                    </UL>
                </LI>
                {% endfor %}
            </UL>
        </BODY>
    </HEAD>
</HTML>